<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.opensocial.android"
          android:versionCode="1"
          android:versionName="1.0.0">
  <application android:label="OpenSocial client library demo">

    <!-- Activity provided by the library -->
    <activity android:name=".OpenSocialChooserActivity"></activity>

    <!-- The users main activity -->
    <activity android:name=".DisplayFriendsActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <!-- The user has to add one intent -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="x-opensocial-demo-app"/> <!-- MAKE SURE TO REPLACE THIS -->
      </intent-filter>
    </activity>
  </application>

  <!-- This permission must be included -->
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>
